# separate env helps with rate limiting
# Fill out the below variables out for yourself
USAJOBS_EMAIL=your-email-here@email.com
# getting the API key takes a minute (go to the website https://developer.usajobs.gov/api-reference/ and submit an api request)
USAJOBS_API_KEY=your-api-key

# getting the API key takes a minute (go to the website https://theirstack.com/en/job-posting-api and submit an api request)
THEIRSTACK_API_KEY=your_key_here

# Check the google drive, there should be a doc with the DB info
postgresql://postgres.amiislttqhurzfhuevqz:[YOUR-PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres

METRICS_SECRET=your-secret-here

# get from platform.openai.com
OPENAI_API_KEY=your-openai-key-here
