# web framework for backend
flask

# https requests to usajobs api/theirstack
requests

# loads env w/ API keys, etc.
python-dotenv

# test
pytest

# app security (since it's public)
bandit

# python library for postgresql
psycopg2-binary