# web framework for backend
flask

# production wsgi server, flask's built in one is dev only
gunicorn

# https requests to usajobs api/theirstack
requests

# loads env w/ API keys, etc.
python-dotenv

# test
pytest

# app security (since it's public)
bandit

# python library for postgresql
psycopg2-binary

# openai api
openai